.cabecalhoPrincipal .container {
	display: flex;
	align-items: center;
	justify-content: space-between; /*coloca o espaço que sobra entre os elementos */
}

.cabecalhoPrincipal-nav {
	display: flex;
}

.rodapePrincipal-patrocinadores .container {
	display: flex;
	justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
	display: flex;
	align-items: center;
	justify-content: space-around; /*colocar espaço em volta dos elementos */
	width: 70%;
	margin-right: 5%;  /*vai descolar os elementos um do outro*/
}

.rodapePrincipal-contatoForm {
	width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
	display: flex;
}

.rodapePrincipal-navMap-list {
	display: flex;
 /*colocar um embaixo do outro. */
 /*colocar em colunas */
 	flex-flow: column wrap;
	height: 250px;
}

.conteudoPrincipal-cursos {
	display: flex;
	flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
	width: 23%;
	margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
	margin-right: 0;
}

.videoSobre .container {
	display: flex;

}

.videoSobre-sobre {
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}

.videoSobre-sobre-list {
	flex-grow: 1;
}

.videoSobre-video {
	flex-grow: 1;
	flex-shrink: 2;
}



/*parte mobile*/
@media(max-width: 768px) {
	.cabecalhoPrincipal-nav {
		flex-direction: column;
	}

	.cabecalhoPrincipal .container {
		flex-direction: column;
		align-items: initial;
		text-align: center;
	}

	.conteudoPrincipal-cursos {
		flex-direction: column;
	}

	.conteudoPrincipal-cursos-link {
		width: 100%;
	}

	.rodapePrincipal-navMap-list {
		height: auto;
	}

	.rodapePrincipal-patrocinadores .container {
		flex-direction: column;
		align-items: center;
	}

	.rodapePrincipal-patrocinadores-list {
		margin: 0;
		width: 100%;
	}

	.rodapePrincipal-contatoForm {
		width: auto;
	}

	.rodapePrincipal-contatoForm-fieldset {
		justify-content: center;
	}

	.cabecalhoPrincipal-nav-link-app {
		order: -1;
	}

	.videoSobre .container {
		flex-direction: column;
	}

	.videoSobre-video {
		margin: 0 auto;
	}
}




